#VSCode
.vscode/*-workspace
.vscode/settings.json
.vscode/tasks.json

#Tools
tools/

# DLLs/Created Files
src/libs/opengl/*
*.dll
*.exe
*.a
*.o

# Other
old_exes and dll files/
run.sh
build/assets/fonts/*
build/assets/images/*
imgui.ini